# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.so

# -----------------------------
# COLMAP outputs
# -----------------------------
data/*/colmap/
sfm/

# -----------------------------
# Evaluation outputs / temp
# -----------------------------
evaluation/evaluation_2d/tmp/
evaluation/evaluation_3d/*

# -----------------------------
# Large data files
# -----------------------------
*.ply
*.npy
*.bin

# -----------------------------
# OS / IDE
# -----------------------------
.vscode/
.DS_Store
Thumbs.db
